.overlay-ui {
  position: absolute;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  display: flex;
  justify-content: center;
}

.root-ui {
  background: transparent;
  pointer-events: all;
  width: 300px;
  height: fit-content;
  float: right;
  text-align: center;
}

